name: Release collaborative-book-server

on:
  push:
    branches:
      - master
  release:
    types: [created]

jobs:
  build:
    name: Build
    runs-on: ubuntu-latest
    steps:
    - name: Set up Go 1.x
      uses: actions/setup-go@v2
      with:
        go-version: ^1.16
    - name: Check out code into the Go module directory
      uses: actions/checkout@v2
    - name: Go cache
      uses: actions/cache@v2
      with:
        path: |
          ~/go/pkg/mod
          ~/.cache/go-build
        key: ${{ runner.os }}-go-${{ hashFiles('**/go.sum') }}
        restore-keys: |
          ${{ runner.os }}-go-
          ${{ runner.os }}-
    - name: Get dependencies
      run: go mod download
    - name: Test
      run: go test -v ./...
    - name: Build collaborative-book-server
      env:
        GOOS: linux
        GOARCH: amd64
      run: go build -v -ldflags="-s -w" -o bin/cb-server-linux-amd64 cmd/lambda/main.go
    - name: Upload collaborative-book-server
      uses: actions/upload-artifact@v2
      with:
        name: cb-server-artifact
        path: bin/
